.hrLines:before {
  content: " ";
  display: block;
  height: 1px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #a8a5a5;
}

.hrLines {
  position: relative;
  /*  new lines  */
  color: #a8a5a5;
  max-width: 500px;
  text-align: center;
}

.hrLines:after {
  content: " ";
  height: 1px;
  width: 80px;
  background: #a8a5a5;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
