.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  padding: 8px 10px;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--input_boarder) solid 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.inputBox:focus {
  border: var(--primary) solid 1px;
  outline: none;
}

/* secondery color button  */
.buttonPink {
  padding: 8px 10px;
  text-align: center;
  width: 150px;
  border: solid 2px;
  border-radius: 15px;
  background-color: var(--secondary);
  color: var(--text_light);
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonPink:hover {
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--secondary) solid 2px;
}

/* secondery color boarder line button  */
.buttonPinkLine {
  padding: 8px 10px;
  text-align: center;
  width: 150px;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--secondary) solid 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Cancel button  */
.buttonPinkLine:hover {
  border: solid 2px;
  background-color: var(--secondary);
  color: var(--text_light);
}

.buttonGoogle {
  padding: 8px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--input_boarder) solid 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Cancel button  */
.buttonGoogle:hover {
  border: #a8a5a5 solid 2px;
}

.hrLines:before {
  content: " ";
  display: block;
  height: 1px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #a8a5a5;
}

.hrLines {
  position: relative;
  /*  new lines  */
  color: #a8a5a5;
  max-width: 500px;
  text-align: center;
}

.hrLines:after {
  content: " ";
  height: 1px;
  width: 80px;
  background: #a8a5a5;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
