/* primary color button  */
.buttonBlue {
  padding: 8px 10px;
  text-align: center;
  width: auto;
  border: solid 2px;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--text_light);
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonBlue:hover {
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--primary) solid 2px;
}

/* primary color boarder line button  */
.buttonBlueLine {
  padding: 8px 10px;
  text-align: center;
  width: auto;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--primary) solid 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonBlueLine:hover {
  border: solid 2px;
  background-color: var(--primary);
  color: var(--text_light);
}

/* secondery color button  */
.buttonPink {
  padding: 8px 10px;
  text-align: center;
  width: auto;
  border: solid 2px;
  border-radius: 15px;
  background-color: var(--secondary);
  color: var(--text_light);
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonPink:hover {
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--secondary) solid 2px;
}

/* secondery color boarder line button  */
.buttonPinkLine {
  padding: 8px 10px;
  text-align: center;
  width: auto;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--secondary) solid 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Cancel button  */
.buttonPinkLine:hover {
  border: solid 2px;
  background-color: var(--secondary);
  color: var(--text_light);
}

.buttonCancel {
  padding: 8px 10px;
  text-align: center;
  width: auto;
  border-radius: 15px;
  background-color: var(--text_light);
  color: var(--text_black);
  cursor: pointer;
  transition: 0.3s ease;
}

.buttonCancel:hover {
  background-color: #929292;
  color: var(--text_light);
}

/* secondery color boarder line input box */
.inputBox {
  padding: 8px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--bg_white);
  color: var(--text_black);
  border: var(--input_boarder) solid 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

.inputBox:hover {
  border: solid 2px;
  background-color: var(--secondary);
  color: var(--text_light);
}
